node_modules
.git
.gitignore
.gitattributes
README.md
dist
.vscode
.prettierrc
.env
.env.development.local
.env.production.local
Dockerfile
Dockerfile.dev
docker-compose.yml
docker-compose.dev.yml
logs
src/prisma-client